RewriteEngine On
RewriteBase /

Options -Indexes

RedirectMatch 403 ^/app/?

RewriteRule ^product/([_a-z()0-9]+)/?$ product/?friendly_url=$1 [L]


#RewriteCond %{REQUEST_FILENAME} -F
#RewriteCond %{REQUEST_FILENAME} !index\.php$
#RewriteCond %{REQUEST_FILENAME} !404\.php$
#RewriteRule !\.(jpg|png|css)$ 404.php [L]


#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule \.* 404.php [L]


#RewriteCond %{REQUEST_URI} (\.+).php$
#RewriteRule \.* 404.php [L]




